{{"blog-card.css" |  asset_url |  stylesheet_tag}}
<div class="blog">
    <img src="{{blog-item.image |  image_url }}" width="100%" height="auto" alt="article">
    <p class="paragraph-5 secondary-gray">{{blog-item.updated_at | date: '%B %d %Y'}}</p>
    <h6 class="heading-6 red uppercase">{{blog-item.title}}</h6>
    <a href="" class="paragraph-5 ">Read more  &rarr;</a>
</div>