{{'search.css' |  asset_url |  stylesheet_tag}}
<script src="{{ 'search.js' | asset_url }}" defer></script>


<form action="{{ routes.search_url }}" method="get" role="search" class="predictive_search">
    <div class="search_input-container">
        <input class="search_input"   type="search"
        name="q" type="text" placeholder="search">
        <input type="hidden" name="options[prefix]" value="last">
        <button type="submit" class="search_icon">
            {% render 'search-icon' %}
        </button>
        <div class="predictive_search-container">

    </div>
    </div>
    <div class="close_icon">
        {% render 'close-icon' %}
    </div>
    
</form>