{{'featuredCollections.css' | asset_url |  stylesheet_tag}}

<section class="featured_collections">
    <div class="container featured_collections-container">
        <h2 class="featured_collections-title">
            shop by categories
        </h2>
        <p class="featured_collections-subtitle">
            Pick a category you needs
        </p>
        
        <div class="featured_card-container">
            
        <div class="card">
            <h4 class="featured_card-title">
                WOMEN
            </h4>
            <p class="featured_card-subtitle">
                115 products
            </p>
        </div>
        <div class="card">
            <h4 class="featured_card-title">
                WOMEN
            </h4>
            <p class="featured_card-subtitle">
                115 products
            </p>
        </div>
        <div class="card">
            <h4 class="featured_card-title">
                WOMEN
            </h4>
            <p class="featured_card-subtitle">
                115 products
            </p>
        </div>
        </div>
    </div>
</section>