{{'banner.css' |  asset_url |  stylesheet_tag}}


<section class="banner">
   <div class="banner_container">
    <div class="banner_text-container">
      <h1 class="banner_title">
         choose your shoes with us.
      </h1>
      <p class="banner_subtitle">We will help you to choose the product
         that without the doubt suits you best.
         And we mean it</p>
         <button class="button_secondary">Read More</button>
    </div>
    <div class="banner_img-container">
      <img class="banner_img" src="{{'banner-img.png' |  asset_img_url}}" width="auto" height="auto" alt="shoes">
    </div>
   </div>
</section>