{{'register.css' |  asset_url |  stylesheet_tag}}

{% render 'breadcrumbs', page-title: 'register' %}

<section class="register">
    <div class="container register_container">
        {% form 'create_customer' %}   
            <div class="register_card">
                <h4 class="heading-4 red uppercase">
                    Register account
                </h4>
                <div class="register_input-container">
                    <label for="firstname">First name</label>
                    <input type="text" id="firstname" name="customer[first_name]" placeholder="your first name">
                </div>
                <div class="register_input-container">
                    <label for="lastname">Last name</label>
                    <input type="text" id="lastname" name="customer[last_name]" placeholder="your first name">
                </div>
                <div class="register_input-container">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="customer[email]" placeholder="example@com">
                </div>
                <div class="register_input-container">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="customer[password]" placeholder="password">
                </div>
               
                <button class="button button_primary register_btn">Register</button>
                <div class="signup_login paragraph-4">
                    <p class="">Already have an account?</p>
                    <a href="{{routes.account_login_url}}">Log in</a>
                </div>
            </div>
        {% endform %}
    </div>
</section>