{{"blog.css" |  asset_url |  stylesheet_tag}}

{% render 'breadcrumbs', page-title: 'Blog' %}

<section class="blog">
    <img class="blog_decoration" src="{{'categories-decoration.png' | file_url}}" width="auto" height="auto" alt="">
    <div class="container"></div>
</section>