{{'reset-password.css' |  asset_url |  stylesheet_tag}}
{% render 'breadcrumbs', page-title: 'reset password' %}

<section class="reset">
    <div class="container reset_container">
        {% form 'reset_customer_password' %}   
            <div class="reset_card">
                <h4 class="heading-4 red uppercase">
                    Reset Password
                </h4>
              
                <div class="reset_input-container">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="customer[password]" placeholder="password">
                </div>
                <div class="reset_input-container">
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" id="confirm_password" name="customer[password_confirmation]" placeholder="password">
                </div>
               
                <button class="button button_primary reset_btn">Reset password</button>
                <div class="signup_login paragraph-4">
                    <p class="">Already have an account?</p>
                    <a href="{{routes.account_login_url}}">Log in</a>
                </div>
            </div>
        {% endform %}
    </div>
</section>