<section class="not_found">
    <div class="container">
        <h1 class="heading-1 red uppercase">
            404 <br>
            page not found
        </h1>
        <p class="paragraph-2 secondary-gray">We haven’t found this page, there is something wrong with your internet connection.</p>
        <input type="text" placeholder="search for what you are interested" class="not_found-input">
        <p class="paragraph-5 secondary-gray">go back to <span class="red">home</span> or <span class="red">blog</span></p>
    </div>
</section>