.not_found {
  margin-top: 7rem;
  background-color: var(--third-gray);
  padding: 5rem 0;
}

.not_found-content {
  width: 60%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.not_found-input {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid var(--primary-red);
  padding: 1rem 3rem;
  background-color: var(--white);
}

.input_container {
    position: relative;
    width: 100%;
}

.input_container > svg {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    width: 20px;
    height: 20px;

}