.blog {
    padding: 6rem 0;
    position: relative;
}

.blog_decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56rem;
    z-index: -1;
}

.blog_header {
    display: flex;
    margin-bottom: 6rem;
}

.blog_header-left {
    flex: 1;
    position: relative;
}

.blog_input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
}

.search_icon svg{
    position: absolute;
    top: 4%;
    right: 30%;
    color: var(--white);
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.blog_input::placeholder {
    color: var(--white);
}

.blog_header-right {
 flex: 3;
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 gap: 1.5rem;
}