.header {
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--white);
  width: 100%;
  z-index: 100;
}


.list_items {
  display: flex;
  gap: 2.5rem;
}

.icons_items {
  display: flex;
  gap: 2rem;
}

.header_icon {
  width: 2rem;
}

.search_form {
  display: flex;
  align-items: center;
}

.search_input {
  border: none;
  border-bottom: 1px solid var(--black);
  width: 60vw;
}
