.product_img-container {
    position: relative;
    width: 100%;
}
.product_item-image {
    width: 100%;
    object-fit: cover;
    height: 21rem;
}

.img_decoration {
    position: absolute;
    top: 1rem;
    left: 0;
    padding: 0.5rem 1.5rem; 
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.out_of-stock{
    background-color: var(--primary-red);
    color: var(--white);
}

.on_sale {
    padding: 0.5rem 3rem!important;
    background-color: var(--primary-green);
    color: var(--white);
}
.sale_price {
    text-decoration: line-through;
}

@media screen and (max-width: 768px) {
    .product_item-image {
        height: 24rem;
    }
}