.product {
  margin-top: 9rem;
  margin-bottom: 7rem;
  position: relative;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (last parameter) for the darkness level */
    z-index: 8999; /* Ensure the overlay is on top of everything */
}
.close {
    position: absolute;
    top: 5rem;
    right: 15rem;
    z-index: 9992;
    color: var(--white);
    cursor: pointer;
}
.product_img {
    cursor: pointer;
}
.close{
    cursor: pointer;
}
.overlay.active {
    display: block;
}
.product_modal {
    display: none;
    position: fixed;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 9000;
    object-fit: contain;
}
.product_modal.active {
    display: block;
}
.product_galley {
  flex: 2;
}
.product_gallery img{
    width: 100%;
    object-fit: cover;
    height: 21rem;
}
.product_info {
  flex: 3;
}
.product_container {
  gap: 3rem;
}
.product_gallery {
  height: fit-content;
}
.product_variant {
  border: 1px solid var(--primary-red);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  cursor: pointer;
}
.product_variant::placeholder {
    color: var(--black);
}

.selected_variant{
    background-color: var(--primary-red);
    color: var(--white);
}

.product_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_btn-icon {
  rotate: 90deg;
}

.product_btn-icon.active {
  rotate: 0deg;
}
.product_description  p {
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
}
.product_description.active {
  display: none;
}
.mobile_product-gallery {
  display: none;
}

.sale_price {
  text-decoration: line-through;
}
/* SWIPER JS */
.swiper-button-next {
  position: absolute;
  right: 3%!important;
  top: 50%!important;
  background-color: white;
  padding: 1.5rem;
  z-index: 11000;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--black);
}
.swiper-button-next:hover, .swiper-button-prev:hover {
  border: 1px solid #3A78D4; 
}
.swiper-button-next::after {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
.swiper-button-prev {
  left: 3%!important;
  top: 50%!important;
  position: absolute;
  background-color: white;
  padding: 1.5rem;
  z-index: 11000;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--black);

}
.swiper-button-prev::after {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
} 
.swiper-slide {
  width: 100%!important;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-red)!important;
}
@media screen and (max-width: 768px) {
  .product {
    margin-top: 5rem;
  }
  .product_container {
    flex-direction: column;
  }
  .product_gallery {
    display: none;
  }
  .mobile_product-gallery {
    display: block;
    width: 100%;
  }
  .product_img {
    width: 100%;
  }
  .product_button-container {
    flex-direction: column;
  }
}