.two_column {
    padding: 4rem 0;
}

.two_column-card {
    height: 28rem;
}

.two_column-img {
    flex: 1;
    overflow: hidden;
}
.img_item {
    width: 100%;
    height: 100%;
}
.two_column-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: var(--third-gray);
    padding: 0 2rem;
}


@media screen and (max-width: 768px) {
    .two_column {
        padding: 6rem 0;
    }
    .two_column-card {
        flex-direction: column;
        height: auto;
    }
    .two_column-text {
        flex: none;
    }
    .two_column-img {
        flex: none;
    }

}